@font-face {
    font-family: "IY-extrabold";
    src: url(fonts/iranyekanwebextrabold.9346e9a2.woff);
}

@font-face {
    font-family: "IY-bold";
    src: url(fonts/iranyekanwebbold.cfb6e26c.woff2);
}

@font-face {
    font-family: "IY-medium";
    src: url(fonts/iranyekanwebmedium.2d4f96e5.woff);
}

@font-face {
    font-family: "IY-regular";
    src: url(fonts/iranyekanwebregular.e31c09af.woff2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "IY-medium";
    padding-top: 120px;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.header {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-top {
    margin-top: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    border: 2px solid #e0e0e2;
    border-radius: 16px;
    backdrop-filter: blur(50px);
    z-index: 10;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    transition: 250ms;
}

.header-top:hover {
    background-color: rgba(255, 255, 255, 0.426);
    backdrop-filter: blur(70px);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

.header-top-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.header-top-right-logobox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-right-searchbox {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-family: "IY-regular";
    font-size: 12px;
    background-color: #f0f0f1;
    color: #81858b;
    padding: 12px 20px;
    border-radius: 10px;
}

.header-top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-left a {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border: 1px solid #f0f0f1;
    transition: 250ms;
}

.header-top-left a:hover {
    background-color: #f0f0f1;
    transform: translateY(-5px);
}

.header-top-left a:hover #header-top-account  {
    opacity: 100%;
    transform: translateY(35px);
}

.header-top-left a:hover #header-top-cart  {
    opacity: 100%;
    transform: translateY(35px);
}

.header-top-left img {
    width: 25px;
}

.header-top-left > span {
    width: 1px;
    height: 45px;
    background-color: #e0e0e2;
}

.header-top-left > a > span {
    position: absolute;
    opacity: 0%;
    transition: 250ms;
}

.header-bottom {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "IY-regular";
    font-size: 12px;
    padding: 0 20px 10px;
}

.header-bottom-right {
    color: #62666b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}

.header-bottom-right > a {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    transition: 250ms;
}

.header-bottom-right > a:hover {
    border-bottom-color:#e6123d;
}

.header-bottom-right .line-divide {
    width: 1px;
    height: 16px;
    background-color: #e0e0e2;
    margin-bottom: 8px;
}

#header-grouping {
    color: #3f4064;
    border-bottom: 0 solid #fff;
    font-family: "IY-bold";
    font-size: 14px;
    gap: 10px;
}

#header-grouping:hover ~ .grouping-commodity-box{
    display: flex;
}

.grouping-commodity-box:hover {
    display: flex;
}

#header-grouping img {
    width: 20px;
}

.header-bottom-left a {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grouping-commodity-box {
    width: 100%;
    height: 400px;
    display: none;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 30px;
    right: 0;
    transition: 250ms;
}

.grouping-commodity-right {
    direction: ltr;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f0f0f1;
    overflow-y: scroll;
}

.grouping-commodity-right a {
    direction: rtl;
    width: 100%;
    padding: 12px 8px;
    color: #000;
    border: none;
    justify-content: flex-start;
}

#commodity-right {
    color: #e6123d;
    background-color: #fff;
}

.grouping-commodity-left {
    direction: ltr;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow-y: scroll;
}

.grouping-commodity-left div {
    direction: rtl;
}

.grouping-commodity-left img {
    width: 11px;
}

.grouping-commodity-left > a {
    direction: rtl;
    width: 100%;
    border: none;
    color: #000;
    justify-content: flex-start;
    padding: 0;
}

.commodity-more {
    margin-bottom: 20px;
    color: #008eb2 !important;
    font-size: 11px;
    border-color: #fff !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.commodity-full {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.commodity-column {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.commodity {
    width: 100%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.commodity-title {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: #000;
    border-right: 2px solid #e6123d;
    padding-right: 10px;
}

.commodity-title:hover,
.commodity-caption:hover {
    color: #e6123d;
}

.commodity-caption {
    width: 100%;
    font-size: 11px;
    color: #81858b;
    padding: 5px 0;
}

.big-banner-box {
    margin-bottom: 40px;
    overflow: hidden;
    max-height: 315.16px;
}

.big-banner-box:hover img {
    transform: scale(1.1);
}

.big-banner-box img {
    width: 100%;
    transition: 250ms;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.statistics-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
}

.statistics {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 8px 20px;
}

.statistics img {
    width: 100%;
}

.statistics-right {
    border-left: 1px solid #e0e0e2;
}

.statistics-small-item {
    border-radius: 1px solid #e0e0e2;
}

.statistics-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.statistics-items {
    padding: 8px;
}

.statistics-full-item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e0e0e2;
}

.statistics-small-item {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e0e0e2;
}

.statistics-full-item > a {
    transition: 250ms;
}

.statistics-small-item > a {
    width: 50%;
    transition: 250ms;
}

.statistics-small-item img {
    width: 100%;
}

#statistics-full-item:hover {
    transform: scale(0.9);
}

#statistics-small-item1:hover,
#statistics-small-item2:hover,
#statistics-small-item3:hover,
#statistics-small-item4:hover {
    transform: scale(0.9);
}

.seeall-box {
    width: 100%;
    margin: 4px 0 12px;
    font-size: 12px;
    color: #19bfd3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeall-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 250ms;
}

.seeall-box a:hover{
    gap: 10px;
}

.seeall-box img {
    width: 12px;
}

.statistics-seeall-box a img {
    width: 10px;
}

.onfire-box {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
    gap: 28px;
}

.onfire-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.onfire-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 21px;
}

.onfire-title img {
    width: 24px;
}

.onfire-seeall {
    color: #19bfd3;
}

.onfire-items-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 8px;
}

.onfire-items-columns {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.onfire-items,
.onfire-items a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.onfire-items:hover .onfire-items-number {
    transform: scale(1.2);
    color: #e6123d;
}

.onfire-items img {
    width: 86px;
}

.onfire-items-number {
    color: #19bfd3;
    font-size: 21px;
    transition: 250ms;
}

.onfire-items-caption {
    font-size: 12px;
    color: #3f4064;
}

.mobile-by {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 16px;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
}

.mb-title {
    width: 100%;
    margin-bottom: 36px;
    text-align: center;
}

.mb-items-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
}

.mb-items {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}

.mb-items:hover {
    transform: translateY(-10px);
}

.mb-items > a  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb-items img {
    width: 100%;
}

.mbp-items {
    width: 12%;
}

.mobile-by-property {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
}

.mobile-by-property > a {
    transition: 250ms;
}

.mobile-by-property > a:hover {
    transform: scale(1.1);
}

.mobile-by-property img {
    width: 100%;
}

.medium-banner-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.medium-banner {
    width: 45%;
    transition: 250ms;
}

.medium-banner img {
    border-radius: 16px;
    width: 100%;
}

#medium-banner1:hover {
    width: 50%;
}

#medium-banner1:hover #medium-banner2{
    width: 35%;
}

#medium-banner2:hover {
    width: 50%;
}

#medium-banner2:hover #medium-banner1{
    width: 35%;
}

.video-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
}

.video-column {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 16px 16px;
}

.video-column-right {
    border-left: 1px solid #e0e0e2;
}

.video-column-left {
    border-right: 1px solid #e0e0e2;
}

.video-title {
    width: 100%;
    height: 90px;
    padding: 12px 0;
    text-align: right;
}

.video img {
    border-radius: 16px;
    width: 100%;
}

.buy-mobile-tip {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    direction: ltr;
    padding: 16px 8px;
    border: 1px solid #f0f0f1;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: 250ms;
}

.buy-mobile-tip:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.buy-mobile-tip > h2 {
    direction: rtl;
    color: #62666b;
    font-weight: 200;
    margin-bottom: 10px;
}

.buy-mobile-tip > p {
    direction: rtl;
    font-family: "IY-regular";
    color: #a1a3a8;
    line-height: 30px;
    margin-bottom: 20px;
}

.footer-container {
    width: 100%;
    margin-top: 80px;
    padding: 0 20px;
}

.footer-container > div {
    width: 100%;
}

.backtotop-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backtotop-icon {
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backtotop-icon img {
    width: 100%;
}

.backtotop-btn a {
    font-size: 12px;
    color: #a1a3a8;
    border: 1px solid #e0e0e2;
    border-radius: 8px;
    padding: 8px 16px;
}

.digikala-info {
    font-size: 12px;
    margin-top: 15px;
}

.digikala-info span {
    color: #3f4064;
}

.digikala-info div {
    display: inline-block;
    padding: 0 20px;
    color: #a1a3a8;
}

.digikala-options-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px 0;
}

.dk-options {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px 0;
    color: #3f4064;
    font-size: 11px;
    transition: 250ms;
}

.dk-options:hover {
    transform: translateY(-2.5px);
}

.dk-options img {
    width: 56px;
}

.footer-lists-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 36px;
}

.footer-lists {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.footer-lists p {
    font-family: "IY-bold";
    width: 100%;
    color: #3f4064;
}

.footer-lists a {
    width: 100%;
    color: #81858b;
    font-size: 14px;
}

.social-media-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.social-media {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social-media img {
    width: 100%;
}

.form-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #f0f0f1;
    color: #81858b;
}

.form-btn,
.form-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e2;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
}

.app-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 28px;
    background-color: #3c4b6d;
    border-radius: 8px;
}

.app-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.app-right-icon {
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-right-icon img {
    width: 100%;
}

.app-right-text {
    font-size: 21px;
    color: #fff;
}

.app-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.app,
.app a {
    width: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app img {
    width: 100%;
}

.app-more {
    width: 43px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.app-more div {
    width: 7px;
    height: 7px;
    background-color: #0c0c0c;
    border-radius: 50%;
}

.license-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 0;
    border-top: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;
}

.license-right {
    width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.license-title {
    color: #62666b;
    font-size: 14px;
}

.license-caption {
    color: #81858b;
    font-family: "IY-regular";
    font-size: 12px;    
}

.license-more {
    color: #19bfd3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    margin-top: 8px;
}

.license-more img {
    width: 12px;
}

.license-left {
    width: 29%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}

.license {
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #e0e0e2;
    border-radius: 8px;
}

.license a {
    padding: 16px;
}

.license img {
    width: 100%;
}

.copywrite {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IY-regular";
    font-size: 11px;
    padding: 32px 0;
    color: #81858b;
}

.sponsors-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.sponsor {
    padding: 10px 20px;
    border: 1px solid #e0e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors-top,
.sponsors-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors-top div,
.sponsors-bottom div {
    background-color: #f0f0f1;
}

.sponsors-top div {
    width: 12.5%;
    height: 80px;
}

.sponsors-bottom div {
    width: 14.28%;
    height: 80px;
}

/* this website was design by MRTech */